@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  font-family: "Festive", cursive;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.navigation nav {
  background: transparent;
  height: 80px;
  width: 100%;
}
.navigation nav ul {
  text-align: center;
  padding-top: 30px;
}
.navigation nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navigation nav ul a {
  background-color: #0f321c;
  border-radius: 20px;
  color: white;
  font-size: 30px;
  padding: 0 43px;
  border-radius: 50px;
  text-decoration: none;
  padding-top: 5px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.navigation {
  background-image: url(../assets/home-page.jpg);
  min-height: 100vh;
  width: 100vw;
  border: none;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  color: black;
}
.container h1 {
  margin-bottom: 80px;
  letter-spacing: 10px;
  text-align: center;
  font-size: 80px;
  color: #0f321c;
}

form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}
form input {
  width: 100%;
  max-width: 100%;
  padding: 15px 30px;
  height: 65px;
  border-radius: 50px;
  font-size: 22px;
  border: none;
  outline: none;
}

button {
  background-color: #0f321c;
  color: white;
  border-radius: 50px;
  width: 100px;
  max-width: 100%;
  border: none;
  position: absolute;
  right: 2px;
  bottom: 2px;
  top: 2px;
  outline: none;
}

/* hover */
.navigation li a:hover,
.navigation li a:focus {
  /* border: 3px solid #F2A11C; */
  background-color: #0f321c;
  border-radius: 35%;
  color: white;
  border: 3px solid white;
}

button:hover,
button:focus {
  border: 3px solid white;
}

button.grey {
  background-color: #949292;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0f321c;
  text-align: center;
}
footer a {
  color: white;
}

.searchResult {
  width: 100%;
}
.searchResult .recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.searchResult .recipes li {
  width: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.searchResult .recipes p {
  font-weight: 700;
  font-size: 22px;
}

img {
  border: 4px solid white;
  border-radius: 20px;
}

.contactContent {
  background-image: url(../assets/home-page.jpg);
  height: auto;
  width: 100vw;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contactNavigation li a:hover,
.contactNavigation li a:focus {
  /* border: 3px solid #F2A11C; */
  background-color: white;
  border-radius: 35%;
  color: black;
}

.contactNavigation nav {
  position: absolute;
  background: transparent;
  height: 80px;
  width: 100%;
}
.contactNavigation nav ul {
  text-align: center;
}
.contactNavigation nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 15px 5px;
}
.contactNavigation nav ul li a {
  border-radius: 50px;
  color: white;
  font-size: 30px;
  padding: 0 40px;
  text-decoration: none;
  padding-top: 10px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.contactPage {
  background-color: #0f321c;
  color: white;
  max-width: 700px;
  margin: 0px auto;
  padding: 40px 80px;
  -webkit-box-shadow: -12px 12px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -12px 12px 8px 0 rgba(0, 0, 0, 0.5);
}

.contactUs {
  color: white;
  text-align: center;
  padding-top: 55px;
  font-size: 65px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}
.contactForm label,
.contactForm input[type=submit] {
  margin-top: 25px;
  margin-bottom: 10px;
}
.contactForm input,
.contactForm textarea {
  border: 3px solid white;
  background-color: #071a0e;
  color: white;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.contactForm textarea {
  resize: none;
}
.contactForm input:invalid,
.contactForm textarea:invalid {
  border-color: white;
}
.contactForm input[type=submit] {
  background-color: #78b604;
  padding: 15px 30px;
  color: #071a0e;
  font-family: "Merienda One", cursive;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  color: #949292;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  color: #949292;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  color: #949292;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  color: #949292;
}
.contactForm input::placeholder,
.contactForm textarea::placeholder {
  color: #949292;
}

footer {
  position: fixed;
}

.junoFooter ul li {
  text-align: center;
}
.junoFooter ul li a {
  color: white;
  font-size: 22px;
  background-color: #0f321c;
}

.junoFooter ul li a:hover,
.junoFooter ul li:focus {
  /* border: 3px solid #F2A11C; */
  color: white;
  background-color: #0f321c;
}

.galleryBody {
  background-color: #0f321c;
}
.galleryBody h1 {
  padding-top: 150px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  letter-spacing: 1.9px;
}
.galleryBody ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.galleryBody li {
  border-radius: 10px;
  margin: 10px;
  width: calc((100% / 2) - 20px);
}
.galleryBody img {
  display: block;
  max-width: 100%;
  border: 7px solid white;
  border-radius: 10px;
}
.galleryBody footer {
  text-align: center;
}

.galleryNavigation nav {
  position: absolute;
  background: transparent;
  height: 80px;
  width: 100%;
}
.galleryNavigation nav ul {
  text-align: center;
}
.galleryNavigation nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 15px 5px;
}
.galleryNavigation nav ul li a {
  border-radius: 50px;
  color: white;
  font-size: 30px;
  padding: 0 40px;
  text-decoration: none;
  padding-top: 10px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.galleryNavigation li a:hover,
.galleryNavigation li a:focus {
  /* border: 3px solid #F2A11C; */
  background-color: white;
  border-radius: 35%;
  color: black;
}

@media (max-width: 870px) {
  .checkbtn {
    display: block;
  }

  .navigation nav ul,
.contactNavigation nav ul {
    position: fixed;
    width: 100%;
    /* height: 50vh; */
    background: #0f321c;
    top: 200px;
    right: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 9999;
  }

  .navigation nav ul li,
.contactNavigation nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navigation nav ul li a,
.contactNavigation nav ul li a {
    font-size: 25px;
    color: white;
  }

  a:hover, a.active {
    background: none;
  }

  #check:checked ~ ul {
    left: 0;
  }

  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
}
@media (max-width: 760px) {
  form {
    width: 400px;
  }

  .container h1 {
    font-size: 60px;
  }

  button {
    width: 90px;
  }
}
@media (max-width: 458px) {
  .navigation nav ul,
.contactNavigation nav ul {
    top: 300px;
  }

  .navigation nav ul li a,
.contactNavigation nav ul li a {
    font-size: 22px;
    color: white;
  }
}